*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.list-group ul{
width: 10rem;
height: 100%;
padding: 5rem;
text-align: center;
background: rgb(51, 51, 51);
}

.list-group-item{
    border: none; 
    background: rgb(51, 51, 51);   
}
.oil{
    border-bottom: .2px solid #fff ;
    border-spacing: 2rem;
    width: 30%;
}
.nvs-1{
    width: 30%;
    background: rgb(51, 51, 51);
}
.card-subtitle{
text-align:end; 
margin-left: 6rem;
color: rgb(184, 252, 82);
}
.nav-pills{
    border-bottom: .2px solid rgb(49, 47, 47) ;
    border-spacing: 2rem;
}
.card{
    background: rgb(51, 51, 51);
}